:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-00: #0000001a;
  
    /* Extra */
  
    --color-01: #999999;
    --color-02: #009539;
    --color-03: #7950f2;
    --color-04: #c00000;
    --color-04: #232323;
  }

  
  /* Estilo base da imagem */
  .foto-preto-branco {
    filter: grayscale(100%); /* Deixa a imagem preto e branco */
    transition: filter 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  }
  
  /* Contêiner da imagem para o hover */
  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Garante que a sombra não ultrapasse os limites */
    border-radius: 10%;
  }
  
  
  